<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongs.skyserver.mapper.SetmealMapper">

    <resultMap id="BaseResultMap" type="com.hongs.skycommon.pojo.entity.Setmeal">
            <id property="id" column="id" />
            <result property="categoryId" column="category_id" />
            <result property="name" column="name" />
            <result property="price" column="price" />
            <result property="status" column="status" />
            <result property="description" column="description" />
            <result property="image" column="image" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="createUser" column="create_user" />
            <result property="updateUser" column="update_user" />
    </resultMap>

    <sql id="Base_Column_List">
        id,category_id,name,price,status,description,
        image,create_time,update_time,create_user,update_user
    </sql>

    <select id="pageQuery" resultType="com.hongs.skycommon.pojo.vo.SetmealPageQueryVO">
        select s.id, s.category_id, s.name, s.price, s.status, s.description,
        s.image, s.update_time, c.name as category_name
        from setmeal s
        left join category c on s.category_id = c.id
        <where>
            <if test="setmealPageQueryDTO.categoryId.name != null and setmealPageQueryDTO.categoryId.name != ''">
                and s.name like concat('%', #{setmealPageQueryDTO.categoryId.name}, '%')
            </if>
            <if test="setmealPageQueryDTO.categoryId != null">
                and s.category_id = #{setmealPageQueryDTO.categoryId}
            </if>
            <if test="setmealPageQueryDTO.status != null">
                and s.status = #{setmealPageQueryDTO.status}
            </if>
        </where>
    </select>
</mapper>
